[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langgraph = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
streamlit = "*"
typing-extensions = "*"
kagglehub = "*"
langchain-google-genai = "*"
langsmith = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
